<h2>Last Step GPS</h2>

<nav>
	<ul class="menu">
		<li><%= link_to 'Home', root_path %></li>
		<li><%= link_to 'Usuario', usuarios_path %></li>			
		<li><%= link_to 'Favorito', favoritos_path %></li>
		<li><%= link_to 'Posicionamento', posicionamentos_path %></li>
	</ul>
</nav>