<h2>Last Step GPS</h2>

<nav>
	<ul class="menu">
		<li><%= link_to 'home', root_path %></li>
		<li><%= link_to 'usuario', usuarios_path %></li>			
		<li><%= link_to 'favorito', favoritos_path %></li>
		<li><%= link_to 'posicionamento', posicionamentos_path %></li>
	</ul>
</nav>